h1 {
  color: #E5F1F1;
  font-family: 'Fjalla One', sans-serif;
  padding: 4px;
  font-seize: 60px;
}

body {
  background-image: url(/images/food.jpg);
  background-repeat: no-repeat;
  font-family: 'Fjalla One', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b5a7d7;
  font-family: 'Fjalla One', sans-serif;
}


li {
  float: left;
  float:none;
    display:inline-block;
}

li a {
  text-align:center; 
  display: block;
  color: white;
  text-align: center;
  padding: 10px 100px;
  text-decoration: none;
  font-size: 20px;
}

li a:hover:not(.active) {
  background-color: #757780;
}

.active {
  background-color: #333;
}
h1{
  font-size: 50px; 
}

h2{
  font-size: 20px; 
}

h3{
  font-size: 30px; 
  text-align: center; 
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-bottom: 4px solid #b5a7d7;
  color: #E5F1F1;
}

h4{
  text-align: center; 
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  line-height: 170%;
  color: #E5F1F1;
  
}
