
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b5a7d7;
  font-family: 'Fjalla One', sans-serif;
}


li {
  float: left;
  float:none;
    display:inline-block;
}

li a {
  text-align:center; 
  display: block;
  color: white;
  text-align: center;
  padding: 10px 100px;
  text-decoration: none;
  font-size: 20px;
}

li a:hover:not(.active) {
  background-color: #757780;
}

.active {
  background-color: #333;
}
