h1 {
  color: #767675;
  font-family: 'Fjalla One', sans-serif;
  padding: 4px;
  border-bottom: 4px solid #b5a7d7;
  font-seize: 60px;
}

body {
  background-image: url(/images/food.jpg";
  font-family: 'Fjalla One', sans-serif;
}

#divtest {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  margin-top: 1%;
  margin-bottom: 1%;
}

.divclasstitle {
  text-align: center; 
  font-size: 28px;
  font-weight: bold;
  font-family: 'Fjalla One', sans-serif;
   color: #b5a7d7;
}

.divclassdesc {
  width: 800px;
  text-align: center;
  padding: 5px;
  margin-top: 1px;
  font-size: 20px;
  color: #36393B; 
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 1px;
  line-height: 150%;
}

.tier1 {
    border-bottom: 100px solid #A6E3CB;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 515px;
    padding: 5px;
    margin: 0 auto;
}

.tier2 {
    border-bottom: 100px solid #F2D3AF;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 405px;
    padding: 5px;
  margin: 0 auto;
}

.tier3 {
    border-bottom: 100px solid #D0EAF0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 300px;
    padding: 5px;
  margin: 0 auto;
}

.tier4 {
    border-bottom: 100px solid #FAE4A0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 195px;
    padding: 5px;
  margin: 0 auto;
}

.tier5 {
    border-bottom: 100px solid #FFAF88;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 93px;
    padding: 5px;
    margin: 0 auto;
}

 .tier6 {
    border-bottom: 100px solid #FF8BA2;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 0px;
   margin: 0 auto;
}

.side1 {
    font-size: 30px;
  position: absolute;
  padding-left: 150px;
  font-family: 'Fjalla One', sans-serif;
  
}
.side2 {
    font-size: 30px;
  position: absolute;
  padding-left: 350px;
  font-family: 'Fjalla One', sans-serif;
}
.side3 {
    font-size: 30px;
  position: absolute;
  padding-left: 400px;
  font-family: 'Fjalla One', sans-serif;
}
.side4 {
  font-size: 30px;
  position: absolute;
  padding-left: 440px;
  font-family: 'Fjalla One', sans-serif;
}
.side5 {
  font-size: 30px;
  position: absolute;
  padding-left: 540px;
    font-family: 'Fjalla One', sans-serif;
}
.side6 {
    font-size: 30px;
    position: absolute;
    top:80px; left:500px;
    
}

.right6 {
    font-size: 20px;
    position: absolute;
    padding-left: 750px;
}
.right5 {
    font-size: 20px;
    position: absolute;
    padding-left: 800px;
}
.right4 {
    font-size: 20px;
    position: absolute;
    padding-left: 850px;
}
.right3 {
    font-size: 20px;
    position: absolute;
    padding-left: 930px;
}
.right2 {
    font-size: 20px;
    position: absolute;
    padding-left: 970px;
}
.right1 {
    font-size: 20px;
    position: absolute;
    padding-left: 1010px;
}

/* Popup container */
.side6 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.side6 .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.side6 .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.side6 .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b5a7d7;
  font-family: 'Fjalla One', sans-serif;
}


li {
  float: left;
  float:none;
    display:inline-block;
}

li a {
  text-align:center; 
  display: block;
  color: white;
  text-align: center;
  padding: 10px 100px;
  text-decoration: none;
  font-size: 20px;
}

li a:hover:not(.active) {
  background-color: #757780;
}

.active {
  background-color: #333;
}
