h1 {
  color: blue;
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  background-color: lightblue;
}


.tier1 {
    border-bottom: 100px solid green;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 515px;
    padding: 5px;
    margin: 0 auto;
}

.tier2 {
    border-bottom: 100px solid #94623e;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 405px;
    padding: 5px;
  margin: 0 auto;
}

.tier3 {
    border-bottom: 100px solid #44CCFF;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 300px;
    padding: 5px;
  margin: 0 auto;
}

.tier4 {
    border-bottom: 100px solid #fff705;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 195px;
    padding: 5px;
  margin: 0 auto;
}

.tier5 {
    border-bottom: 100px solid #ffc342;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 93px;
    padding: 5px;
    margin: 0 auto;
}

 .tier6 {
    border-bottom: 100px solid #fa3c3c;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 0px;
   margin: 0 auto;
}
